
<div id="raceStartTimer"></div>

<script>

  function timeLeft() {
      const now     = new Date();
      const seconds = now.getSeconds();
      const every   = 60000;

      return every - (seconds * 1000);
  }

  function updateRaceStartTimer() {
      raceStartTimer = document.getElementById('raceStartTimer');
      raceStartTimer.textContent = (timeLeft() / 1000) + "s before the race starts";
  }

  updateRaceStartTimer();
  
  // Redirect to race on the minute
  <% unless @debug %> // When debugging it's annoying to wait, so if debug is true we'll ignore this and include a button to start instead
  setTimeout(function() {
      window.location.href = "<%= url_for(controller: 'horse_race', action: 'race')%>"; 
  }, timeLeft());

  var interval = setInterval(updateRaceStartTimer, 1000);
  <% end %>
</script>

<%= "#{Current.session.user.username.capitalize}'s Balance: $#{Current.session.user.balance}" %>
<% #= render 'shared/horse_winners_bar' %>
<%= render 'shared/wager' %>


<% Horse.all.each do |horse| %>
    <%= render 'shared/horse_bet_container', horse: horse %>
<% end %>

<% if @debug %> 
    <%= form_with(url: debug_skip_to_race_path, method: :post, local: true) do |form| %>
        <%= submit_tag "Start Race (Debug)" %>
    <% end %>
<% end %>
