<%= stylesheet_link_tag 'horse_betting.css', media: 'all' %>

<div class="horse_container">
    <div class="horse_name_div"><text class="horse_name"><%= horse.name %></text></div>
    <%= image_tag horse.image, :class => "horse_img" %>
    <div class="place_div">
        <%= render "shared/horse_bet_form_bet_line", horse: horse, kind: :place %>
    </div>
    <div class="straight_div">
        <%= render "shared/horse_bet_form_bet_line", horse: horse, kind: :straight %>
    </div>
    <div class="show_div">
        <%= render "shared/horse_bet_form_bet_line", horse: horse, kind: :show %>
    </div>
</div>
