
<%= stylesheet_link_tag 'horse_betting.css', media: 'all' %>

<%= form_with(url: submit_bet_path, method: :post, local: true) do |form| %>
<%= form.hidden_field :kind,  value: kind %>
<% form.label horse.id, class: "bet_input" %>
<%= form.hidden_field :horse, value: horse.id %>
<%= number_field_tag :amount, nil, step: 0.01, in: 0..Current.session.user.balance, class: "bet_input" %>
<%= form.label "#{'%5.0f' % horse.odds(kind)}x", class: "bet_ratio_div" %>
<div class="place_button">
    <%= submit_tag "#{kind.to_s.capitalize} Bet", class: "place_button" %>
    <span class="tooltiptext"> <%= Wager.tooltip(kind) %> </span>
</div>
<% end %>
